.container{
    border:2px solid red;
    background-color:pink;
    height:1000px;
  }
  .box{
    display:inline-block;
    border:2px solid black;
    width:150px;
    height:100px;
    margin:3px;
  }
  #box1{
   background-color:yellow;
  }
  #box2{
   background-color:orange;
  }
  #box3{
   background-color:red;
    position:relative;
    top:35px;
    left:35px;
    font-weight:600;
   
    
  }
  #box4{
   background-color:maroon;
  }